<div>
  <footer class="py-4 bg-dark">
      <h1 class="titulo">Redes sociales</h1>
      <a
        class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com" role="button">
        <i class="fa fa-facebook"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=es" role="button"
        ><i class="fa fa-twitter"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/intl/es-419/gmail/about/" role="button"
        ><i class="fa fa-google"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
        ><i class="fa fa-instagram"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://mx.linkedin.com" role="button"
        ><i class="fa fa-linkedin"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com" role="button"
        ><i class="fa fa-github"></i>
      </a>
  </footer>
</div>
